<% provide(:title, 'All stations') %>

<h1>Television Stations</h1>

<%= button_to "Add Station", new_station_path, :class => "btn btn-primary", :method => :get %>



<%= search_form_for @q  do |f| %>
  <%= f.condition_fields do |c| %>
    <div class="fields", style='width: 30%;'>
    <%= c.attribute_fields do |a| %>
      <%= a.attribute_select associations: [:market, :group] %>
    <% end %>
    
    <%= c.predicate_select%>
    <%= c.value_fields do |v| %>
    <%= v.text_field :value%>
    
    <% end %>
    </div>
  <% end %>
  <div class="actions"><%= f.submit "Search" %></div>
<% end %>


<div id="groupTable" >


<table id="stations" class="table table-bordered table-striped" >
  
  <thead>
    <tr>
      <th><%= sort_link(@q, :call, "Call") %></th>
      <th><%= sort_link(@q, :channel, "Ch") %></th>
      <th><%= sort_link(@q, :market_rank, "Rank") %></th>
      <th><%= sort_link(@q, :market_name, "Market") %></th>
      <th><%= sort_link(@q, :affiliate_name, "Affiliation") %></th>
      <th><%= sort_link(@q, :group_name, "Group") %></th>
      <th><%= sort_link(@q, :priority, "Priority") %></th>
    </tr>
  </thead>
  <tbody>
    <% @stations.each do |station| %>
    <tr>
      <td><%= link_to station.call, station %></td>
      <td><%= station.channel %></td>
      <td><%= station.market.rank %></td>
      <td><%= link_to station.market.name, station.market %></td>
      <td>
        <% if station.affiliate.nil? %>
          
        <% else %>
          <%= link_to station.affiliate.name, station.affiliate %>
        <% end %>
      </td>
      <td>
        <% if station.group.nil? %>
          
        <% else %>
          <%= link_to station.group.name, station.group %>
        <% end %>
      </td>
      
      <td><%= station.priority %></td>
      
      
    </tr>
    <% end %>
  </tbody>
</table>



</div>