<% provide(:title, @station.name) %>

<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @station.call %> <%= @station.channel %>
      </h1>
      <p><%= @station.address %></p>
      <p><%= @station.phone %></p>
      <p><%= link_to @station.web, @station.web, :target => "_blank" %></p>
      <p>
        <% if @station.group.nil? %>
          
        <% else %>
          Group: <%= link_to @station.group.name, @station.group %>
        <% end %>
      </p>
      <p>
        <% if @station.affiliate.nil? %>
          
        <% else %>
          Affiliation: <%= link_to @station.affiliate.name, @station.affiliate %>
        <% end %>
      </p>
      <p>Market: <%= link_to @station.market.name, @station.market %></p>
      <p>Name: <%= @station.name %></p>
      <p>Description: <%= @station.description %></p>
      <p>Priority: <%= @station.priority %></p>
      <p>Note: <%= @station.note %></p>
      
      <%= button_to "Edit", edit_station_path(@station), :class => "btn btn-primary", :method => :get %>
      
      <% if current_user.admin? %>
        <%= button_to "Delete", @station, :class => "btn btn-primary", method: :delete,
                                  data: { confirm: "Are you sure?" } %>
        <p>GPS: <%= @station.latitude %>, <%= @station.longitude %></p>
      <% end %>
    </section>
  </aside>
</div>

