<% provide(:title, 'All groups') %>

<h1>Television Groups</h1>

<%= button_to "Add Group", new_group_path, :class => "btn btn-primary", :method => :get %>

<div id="groupTable" >
  
  

<table id="groups" class="table table-bordered table-striped" >
  
  <thead>
    <tr>
      <th><%= sort_link(@q, :name, "Name") %></th>
      <th><%= sort_link(@q, :description, "Description") %></th>
      <th>Address</th>
      <th>Stations Owned</th>
      <th>Stations Affiliated</th>
      <th><%= sort_link(@q, :priority, "Priority") %></th>
      
      
    </tr>
  </thead>
  <tbody>
    <% @groups.each do |group| %>
    <tr>
      <td><%= link_to group.name, group %>
      <td><%= group.description %></td>
      <td><%= group.address %></td>
      <td><%= group.stations.count %></td>
      <td><%= group.affiliates.count %></td>
      <td><%= group.priority %></td>
      
      
    </tr>
    <% end %>
  </tbody>
</table>



</div>