<% provide(:title, @group.name) %>

<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @group.name %>
      </h1>
      <p>Description: <%= @group.description %></p>
      <p>Phone: <%= @group.phone %></p>
      <p>Web: <%= link_to @group.web, @group.web, :target => "_blank" %></p>
      <p>Address: <%= @group.address %></p>
      <p>Longitude: <%= @group.longitude %></p>
      <p>Latitude: <%= @group.latitude %></p>
      <%= button_to "Edit", edit_group_path(@group), :class => "btn btn-primary", :method => :get %>
      
      <% if current_user.admin? %>
        <%= button_to "Delete", @group, :class => "btn btn-primary", method: :delete,
                                  data: { confirm: "Are you sure?" } %>
      <% end %>
    </section>
  </aside>
  
  
<div class="span8">
  <% if @group.stations.any? %>
  <h3>Stations Owned (<%= @group.stations.count %>)</h3>
  
  <table id="stations" class="table table-bordered table-striped" >
  <thead>
    <tr>
      <th>Call</th>
      <th>Channel</th>
      <th>Affiliation</th>
      <th>Market</th>
    </tr>
  </thead>
  <tbody>
    <% for @station in @group.stations %>
    <tr>
      <td><%= link_to @station.call, @station %>
      <td><%= @station.channel %></td>
      
      <td><%= link_to @station.affiliate.name, @station.affiliate %></td>
      <td><%= link_to @station.market.name, @station.market %></td>
      
      
      
    </tr>
    <% end %>
  </tbody>
  </table>
  <% end %>

  <% if @group.affiliates.any? %>
  <h3>Stations Affiliated (<%= @group.affiliates.count %>)</h3>
  
  <table id="stations" class="table table-bordered table-striped" >
  <thead>
    <tr>
      <th>Call</th>
      <th>Channel</th>
      <th>Owner</th>
      <th>Market</th>
    </tr>
  </thead>
  <tbody>
    <% for @affiliate in @group.affiliates %>
    <tr>
      <td><%= link_to @affiliate.call, @affiliate %>
      <td><%= @affiliate.channel %></td>
      
      <td><%= link_to @affiliate.group.name, @affiliate.group %></td>
      <td><%= link_to @affiliate.market.name, @affiliate.market %></td>
      
      
      
    </tr>
    <% end %>
  </tbody>
  </table>
  <% end %>
</div>
  
</div>
